.myaccount {
}

.my-account-profile .fn {
	font-size: 28px;
}

.myaccount button {
	padding: 0 20px !important;
}

.myaccount .heading .name {
	font-size: 18px;
	display: flex;
	gap: 10px;
}

.myaccount .heading .name img {
	border-radius: 50%;
	height: fit-content;
}

.myaccount .heading {
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
	align-items: center;
}

.myaccount .changepassword {
	display: none;
}

.myaccount .ordersContent {
	display: none;
}

.myaccount .ordersContent h6 {
	text-align: center;
	margin: 50px 0;
}

.myaccount .woocommerce-orders-table__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.myaccount .woocommerce-orders-table__row .woocommerce-orders-table__cell {
	width: 33.333%;
	text-align: center;
}

.myaccount .woocommerce-orders-table__cell-order-actions {
	width: 50% !important;
}

.myaccount .woocommerce-orders-table__cell-order-actions a {
	margin: 0 5px;
	color: #fff;
	border-color: #5f2082;
	background-color: #5f2082;
}

.inputContainer {
	position: relative;
	margin-bottom: 10px;
}

@keyframes spinner-border {
	to {
		transform: rotate(360deg);
	}
}

.spinner-border {
	position: absolute;
	left: 10px;
	top: 12px;
	width: 32px;
	height: 32px;
	width: 2rem;
	height: 2rem;
	vertical-align: -0.125em;
	border: 0.25em solid currentColor;
	border-right-color: transparent;
	border-radius: 50%;
	-webkit-animation: 0.75s linear infinite spinner-border;
	animation: 0.75s linear infinite spinner-border;
}

.assignTo {
	display: flex;
	justify-content: space-between;
}

.assignTo p {
	flex: 1;
}

.assignTo button {
	background: #f82c2c;
	color: #fff;
	height: 27px;
	width: 40px;
	font-size: 20px;
	border: 0;
	align-self: flex-start;
	align-items: center;
	display: flex;
	padding: 0;
	justify-content: center;
}

.status .error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.status .success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
	z-index: 99;
}

.modal .footer {
	display: flex;
	justify-content: space-around;
}

.modal .deleteuser {
	background: #ff0000;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	/* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
	position: relative;
}

/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 0;
	left: 10px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/******** Tutor course *********************/
.tutor-course {
	border-radius: 10px;
	box-shadow: 0 3px 8px 2px #dddddd73;
}
.tutor-course img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.tutor-course .course-loop-info {
	padding: 1rem;
}
.tutor-course .course-loop-enrolled-button.cart-notification a {
	margin: 0 auto;
	display: block;
	width: 70%;
	margin-top: 1.5rem;
}

/******** Tutor Categories *********************/

.cards {
	width: 100%;
	display: flex;
	display: -webkit-flex;
	justify-content: right;
	-webkit-justify-content: right;
	max-width: 100%;
	flex-flow: wrap;
	gap: 1rem;
}

/*.card--1 .card__img, .card--1 .card__img--hover {*/
/*    background-image: url('https://images.pexels.com/photos/45202/brownie-dessert-cake-sweet-45202.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');*/
/*}*/

.card__like {
	width: 18px;
}

.card__clock {
	width: 15px;
	vertical-align: middle;
	fill: #ad7d52;
}
.card__time {
	font-size: 12px;
	color: #ad7d52;
	vertical-align: middle;
	margin-left: 5px;
}

.card__clock-info {
	float: right;
}

.card__img {
	visibility: hidden;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 235px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.card__info-hover {
	position: absolute;
	padding: 16px;
	width: 100%;
	opacity: 0;
	top: 0;
}

.card__img--hover {
	transition: 0.2s all ease-out;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	position: absolute;
	height: 235px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	top: 0;
}

.card__info {
	direction: rtl;
}

.card {
	margin-right: 0;
	transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
	background-color: #fff;
	width: 25%;
	position: relative;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
	max-width: 25%;
	flex: 0 0 23%;
}
.card:hover {
	box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
	transform: scale(1, 1);
}

.card__info {
	z-index: 2;
	background-color: #fff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding: 16px 24px 24px 24px;
}

.card__category {
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 500;
	color: #868686;
}

.card__title {
	margin-top: 5px;
	margin-bottom: 10px;
	font-family: "Roboto Slab", serif;
}

.card__by {
	font-size: 12px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

.card__author {
	font-weight: 600;
	text-decoration: none;
	color: #ad7d52;
}

.card:hover .card__img--hover {
	height: 100%;
	opacity: 1;
}

.card:hover .card__info {
	background-color: transparent;
	position: relative;
	transform: translateY(100%);
}

.card:hover .card__info-hover {
	opacity: 1;
}

section.cards * {
	font-family: inherit;
	letter-spacing: 0;
}
